default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
        args: [--fix, lf]
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements
      - id: name-tests-test
      - id: pretty-format-json
        args:
          - --autofix
          - --indent=2
  - repo: https://github.com/astral-sh/ruff-pre-commit
      # Ruff version.
    rev: v0.12.0
    hooks:
      - id: ruff-check
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format
        types_or: [python, pyi]
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-yaml
        args: [--autofix, --indent, '2', --offset, '2', --line-width, '80']
      - id: pretty-format-toml
        args: [--autofix, --indent, '2']
  - repo: https://github.com/astral-sh/uv-pre-commit
      # uv version.
    rev: 0.7.15
    hooks:
      - id: uv-lock
