[dependency-groups]
dev = [
  "onnx>=1.18.0",
  "pre-commit>=4.2.0",
  "pytest>=8.4.1",
  "ruff>=0.12.0"
]

[project]
classifiers = ["Private :: Do Not Upload"]
dependencies = [
  "numpy",
  "pydantic>=2.0",
  "torch>=1.4.0"
]
description = "Add your description here"
name = "dltype"
readme = "README.md"
requires-python = ">=3.10"
version = "0.1.0"
